<div class="table-data">
  <div class="table-header">
    <h4>Liste des Vendeurs</h4>
    <div class="table-actions">
  
      <input
        type="text"
        placeholder="Rechercher..."
        [(ngModel)]="searchQuery"
        (input)="allvendeur(searchQuery)"
        class="search-input"
      />
      <i class="bi bi-trash" title="Supprimer" (click)="deleteSelected()"></i>
     
    </div>
  </div>



  <div class="overflow-auto rounded-xl shadow-md">
    <table class="table table-hover align-middle w-full text-left border-collapse bg-white">
      <thead class="bg-[#04192F] text-white">
        <tr>
          <th class="px-6 py-3 whitespace-nowrap">Prénom</th>
          <th class="px-6 py-3 whitespace-nowrap">Nom</th>
          <th class="px-6 py-3 whitespace-nowrap">Adresse</th>
          <th class="px-6 py-3 whitespace-nowrap">Email</th>
          <th class="px-6 py-3 whitespace-nowrap">Profil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vend of vendeurs | paginate: { itemsPerPage: itemsPerPage, currentPage: page }" class="hover:bg-[#157CEA]/10 transition" [class.selected]="vend.id === selectedUserId"
    (click)="selectUser(vend)">
          <td class="px-6 py-4 border-t">{{ vend.prenom }}</td>
          <td class="px-6 py-4 border-t">{{ vend.nom }}</td>
          <td class="px-6 py-4 border-t">{{ vend.adresse }}</td>
          <td class="px-6 py-4 border-t">{{ vend.email }}</td>
          <td class="px-6 py-4 border-t">{{ vend.profil?.libelle }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>

    <!-- Contrôles de pagination -->
    <pagination-controls (pageChange)="page = +$event"></pagination-controls>
</div>




