<div class="table-data">
  <div class="table-header">
    <h4>Liste des Produits</h4>
    <div class="table-actions">
  
      <input
        type="text"
        placeholder="Rechercher..."
        [(ngModel)]="searchQuery"
        (input)="allproduit(searchQuery)"
        class="search-input"
      />
     
    </div>
  </div>



  <div class="overflow-auto rounded-xl shadow-md">
    <table class="table table-hover align-middle w-full text-left border-collapse bg-white">
      <thead class="bg-[#04192F] text-white">
        <tr>
          <th class="px-6 py-3 whitespace-nowrap">Libellé</th>
          <th class="px-6 py-3 whitespace-nowrap">Description</th>
          <th class="px-6 py-3 whitespace-nowrap">Prix</th>
          <th class="px-6 py-3 whitespace-nowrap">Quantité</th>
          <th class="px-6 py-3 whitespace-nowrap">Catégorie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of tabProduit" class="hover:bg-[#157CEA]/10 transition" >
          <td class="px-6 py-4 border-t">{{ produit.libelle }}</td>
          <td class="px-6 py-4 border-t">{{ produit.description }}</td>
          <td class="px-6 py-4 border-t">{{ produit.prix }}</td>
          <td class="px-6 py-4 border-t">{{ produit.quantite }}</td>
          <td class="px-6 py-4 border-t">{{ produit.categorie?.libelle }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>


