/* Spécifique au composant sidebar */
#sidebar .side-menu a.active {
  background-color:  #0E2238;
  color: #fff;
}

#sidebar .side-menu a.active::before {
  transform: scaleY(1);
}
#sidebar{
  background-color: #3d5ae7;
}

#sidebar .side-menu a:hover,
#sidebar .side-menu .active > a {
  background-color: var(--sidebar-hover);
  color: #fff;
}