@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafbfe;
  transition: all 0.35s ease-in-out;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* Wrapper and Main Content */
.wrapper {
  display: flex;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

/* Sidebar Styles */
#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  background-color: #0e2238;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

/* Toggle Button */
.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
  margin-top: 80px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

/* Sidebar Logo */
.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #FFF;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

/* Sidebar Navigation */
.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

.sidebar-item {
  position: relative;
  margin: 10px 0;
}

a.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 1.625rem;
  color: #FFF;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  transition: background-color 0.3s, border-left-color 0.3s;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: .75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, .075);
  border-left-color: #3b7ddd;
}

/* Sidebar Dropdown */
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  padding: 2px;
  border: solid;
  border-width: 0 .075rem .075rem 0;
  transform: rotate(-135deg);
  transition: transform .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: transform .2s ease-out;
}
ul li a{
  text-decoration: none;
}


.logout a {
  padding: 10px 1.625rem; /* Aligne le padding avec les autres liens */
  color: #FFF; /* Couleur du texte */
}

.logout a:hover {
  background-color: rgba(255, 255, 255, .075); /* Couleur au survol */
}


