  <!-- Cards Section -->
 <main class="content">
     <div class="metrics-grid">
    <div class="metric-card">
      <div class="metric-info">
        <h3>Ventes</h3>
        <span class="metric-label">Vente</span>
        <span class="metric-value">{{terminees}}</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Stock</h3>
        <span class="metric-label">Disponible</span>
        <span class="metric-value">{{totalQuantiteProduits}}</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-boxes"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Produits</h3>
        <span class="metric-label">Produits</span>
        <span class="metric-value">{{totalItems}}</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-box"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Communauté</h3>
        <span class="metric-label">Clients</span>
        <span class="metric-value">{{totalClients}}</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-users"></i>
      </div>
    </div>
  </div>
 </main>