  <!-- Cards Section -->
 <main class="content">
     <div class="metrics-grid">
    <div class="metric-card">
      <div class="metric-info">
        <h3>Commandes</h3>
        <span class="metric-label">Ventes</span>
        <span class="metric-value">54</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Stock</h3>
        <span class="metric-label">Disponible</span>
        <span class="metric-value">+130</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-boxes"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Fournisseurs</h3>
        <span class="metric-label">Partenaires</span>
        <span class="metric-value">5</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-truck"></i>
      </div>
    </div>

    <div class="metric-card">
      <div class="metric-info">
        <h3>Communauté</h3>
        <span class="metric-label">Membres</span>
        <span class="metric-value">1.2k</span>
      </div>
      <div class="metric-icon">
        <i class="fas fa-users"></i>
      </div>
    </div>
  </div>
 </main>